<div class="banner"> <!-- style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(assets/bg_1.jpg);"> -->
  <div class="container">
  <h1>Sailor Maker</h1>
    <p class="p-big">
      <span id="banner-typed-text"></span>
    </p>
  <%= link_to 'Start Now', new_sailor_path, class: "button-pink" %>
  
  </div>
</div>

<div class="container my-5">
<h2 class="s-dark-pink"><%= link_to 'View all Sailor Warriors', sailors_path %></h2>
<p class="s-dark-pink">Last Added Warriors</p>
</div>