.banner {
  height: 500px;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('public/assets/bg_1-a31c5c84d300745b2a8360c60362d4aace095b913cb6c666381931e436220ffe.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  font-size: 32px;
  text-shadow: 1px 1px 1px rgba(36, 0, 192, 0.2);
  padding: 24px;
  padding-bottom: 48px;
}

.banner h1 {
  font-weight: 700;
  font-size: 48px;
}