.banner {
  height: 500px;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('http://getwallpapers.com/wallpaper/full/0/1/f/1024091-full-size-sailor-moon-backgrounds-1920x1080.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  font-size: 32px;
  text-shadow: 1px 1px 1px rgba(36, 0, 192, 0.2);
  padding: 24px;
  padding-bottom: 48px;
}

.banner h1 {
  font-weight: 700;
  font-size: 48px;
}