.card-bg {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  color: white;
  text-shadow: 0 0 0 #5f5f5f;
  opacity: 0.9;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #5f5f5f;
  margin: 16px;
  padding: 16px;
  font-size: 32px;
  font-weight: 700;
}