body a {
  text-decoration: none !important;
}

.h-link:hover {
  opacity: 0.5;
}

.s-pink {
  color: $s-pink;
}

.s-dark-pink {
  color: $s-dark-pink;
}

.s-blue {
  color: $s-blue
}

.p-big {
  font-family: Mali;
}