<div class="container">
  <h1>Create a New Sailor Warrior</h1>
  <%= render 'form' %>
  <div class="container">
    <h3 class="mb-3">
      <%= link_to sailors_path do%>
        <i class="far fa-moon"></i> Back
      <% end %>
    </h3>
  </div>
</div>
